[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "==2.9.11"
django-crispy-forms = "==2.6"
crispy-bootstrap4 = "==2026.2"
django-allauth = "==65.15.0"
environs = {extras = ["django"], version = "==14.6.0"}

[dev-packages]
djlint = "*"

[requires]
python_version = "3.12"
